html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

@font-face {
	font-family: myFirstFont;
	src: url(BNAZANB.TTF);
}

body {
	height: calc(var(--vh, 1vh) * 100);
	padding: 0;
	margin: 0;
	background: linear-gradient(45deg, #1cb5e0 0%, #000851 100%) fixed;
	font-family: myFirstFont, Arial, Helvetica, sans-serif;
	overflow: hidden;
	word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: white;
}

a {
	text-decoration: none;
}

a:link,
a:visited {
	color: #dbba00;
}

a:hover,
a:active {
	color: #db7500;
}

.language-box {
	position: fixed;
	direction: ltr;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%) scale(100%);
	transform: translate(-50%, -50%) scale(100%);
	width: 16rem;
	height: 8rem;
	background-color: transparent;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: ease-in-out 200ms;
	transition: ease-in-out 200ms;
	z-index: 2;
}

.language-box-small {
	top: 0rem;
	left: 100%;
	width: 8rem;
	-webkit-transform: translate(-100%, 0%);
	transform: translate(-100%, 0%);
}

.language-box-small .language-circle {
	width: 2rem;
	height: 2rem;
}

.language-circle {
	width: 5rem;
	height: 5rem;
	background-color: salmon;
	border-radius: 50%;
	-webkit-filter: brightness(1.1) saturate(0.8);
	filter: brightness(1.1) saturate(0.8);
	border: 0.1rem solid white;
	-webkit-transition: 300ms;
	transition: 300ms;
	cursor: pointer;
}

.language-circle:hover {
	-webkit-filter: brightness(1.05) saturate(1);
	filter: brightness(1.05) saturate(1);
}

.farsi {
	background-image: url(Images/FA.svg);
}

.english {
	background-image: url(Images/ENG.svg);
}

.main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	opacity: 0;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 50rem;
	min-height: 20rem;
	background: #252525;
	-webkit-transition: ease-in 1s;
	transition: ease-in 1s;
	min-width: 310;
	border: #dbba00 0.2rem solid;
}

.main .resume-details {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-flex: 3;
	-ms-flex: 3;
	flex: 3;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.main .resume-details .resume-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #dbba00;
}

.main .resume-details .resume-header #header-photo {
	margin: 2rem;
	padding: 0;
}

.main .resume-details .resume-header #header-photo img {
	border: 0.2rem solid white;
	border-radius: 50%;
	width: 8rem;
	height: 8rem;
}

.main .resume-details .resume-header #header-title {
	padding: 1rem;
}

.main .resume-details .resume-header #header-title h1,
.main .resume-details .resume-header #header-title h2,
.main .resume-details .resume-header #header-title h3 {
	color: #252525;
	margin-bottom: 0;
	margin-top: 0;
}

.main .resume-details .resume-biography {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.main .resume-details .resume-biography p {
	margin: 2rem;
	color: #dbba00;
}

.main .resume-details .resume-biography div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 1rem;
}

.main .resume-details .resume-biography div ul {
	list-style: none;
}

.main .resume-details .resume-biography div ul li {
	border-radius: 0.8rem 0;
	margin: 0.1rem;
	padding: 1rem;
	color: white;
	text-decoration: none;
}

.main .resume-details .resume-work-history {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 1rem;
}

.main .resume-details .resume-work-history ul {
	list-style: none;
}

.main .resume-details .resume-work-history ul li {
	border-radius: 0.8rem 0;
	margin: 0.1rem;
	padding: 1rem;
	color: white;
	text-decoration: none;
}

.main .resume-details .resume-education {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 1rem;
}

.main .resume-details .resume-education ul {
	list-style: none;
}

.main .resume-details .resume-education ul li {
	border-radius: 0.8rem 0;
	margin: 0.2rem;
	padding: 1rem;
	color: white;
	text-decoration: none;
}

.main .resume-details .resume-skills {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 1rem;
}

.main .resume-details .resume-skills .skill-overall #overall-skills {
	width: 100%;
	background-color: transparent;
}

.main .resume-details .resume-skills .skill-details ul {
	list-style: none;
}

.main .resume-details .resume-skills .skill-details ul li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0.2rem;
	padding: 1rem;
	color: white;
	text-decoration: none;
}

.main .resume-details .resume-skills .skill-details ul li div {
	margin: 1rem;
	width: 5rem;
}

.main .resume-details .resume-skills .skill-details ul li .progress-bar {
	direction: ltr;
	width: 15rem;
	height: 0.3rem;
	background: #dbdbdb;
}

.main
	.resume-details
	.resume-skills
	.skill-details
	ul
	li
	.progress-bar
	.progress {
	height: 0.3rem;
	background: #dbba00;
	width: 100%;
	margin: 0;
}

.main .resume-details .resume-languages {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 1rem;
}

.main .resume-details .resume-languages ul {
	list-style: none;
}

.main .resume-details .resume-languages ul li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0.2rem;
	padding: 1rem;
	color: white;
	text-decoration: none;
}

.main .resume-details .resume-languages ul li div {
	margin: 1rem;
	width: 4rem;
}

.main .resume-details .resume-languages ul li .progress-bar {
	direction: ltr;
	width: 15rem;
	height: 0.3rem;
	background: #dbdbdb;
}

.main .resume-details .resume-languages ul li .progress-bar .progress {
	height: 0.3rem;
	background: #dbba00;
	width: 100%;
	margin: 0;
}

.main .resume-details .resume-work-samples {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 1rem;
}

.main .resume-details .resume-work-samples ul {
	list-style: none;
}

.main .resume-details .resume-work-samples ul li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0.2rem;
	padding: 1rem;
	color: white;
	text-decoration: none;
}

.main .resume-details .resume-work-samples ul li div {
	margin: 1rem;
}

.main .resume-details .contact-me {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #dbba00;
	padding: 2rem;
}

.main .resume-details .contact-me h3 {
	color: #252525;
}

.main .resume-details .contact-me .contact-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.main .resume-details .contact-me .contact-info #phone,
.main .resume-details .contact-me .contact-info #gmail,
.main .resume-details .contact-me .contact-info #whatsapp,
.main .resume-details .contact-me .contact-info #telegram,
.main .resume-details .contact-me .contact-info #instagram {
	border-radius: 3rem;
	border: white 0.2rem solid;
	width: 5rem;
	height: 5rem;
	margin: 0.5rem;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: white;
	cursor: pointer;
}

.main .resume-details .contact-me .contact-info #phone {
	background-image: url(./Images/Social/Phone.svg);
	background-size: 70%;
}

.main .resume-details .contact-me .contact-info #gmail {
	background-image: url(./Images/Social/Gmail.svg);
	background-size: 70%;
}

.main .resume-details .contact-me .contact-info #whatsapp {
	background-image: url(./Images/Social/Whatsapp.svg);
}

.main .resume-details .contact-me .contact-info #telegram {
	background-image: url(./Images/Social/Telegram.svg);
}

.main .resume-details .contact-me .contact-info #instagram {
	background-image: url(./Images/Social/Instagram.svg);
}

.opacity-full {
	opacity: 1;
}

.right-to-left {
	direction: rtl;
}

.left-to-right {
	direction: ltr;
}

.overflow-auto {
	overflow: auto;
}

.font-Segoe {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.font-times {
	font-family: "Times New Roman", Times, serif;
}

.font-arial {
	font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 700px) {
	.main .resume-details .contact-me .contact-info {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}

@media screen and (max-width: 300px) {
	.main .resume-details .resume-header #header-photo img {
		width: 6rem;
		height: 6rem;
	}
	.main .resume-details .resume-skills .skill-details ul li {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.main .resume-details .resume-skills .skill-details ul li .progress-bar {
		width: 8rem;
	}
	.main .resume-details .resume-languages ul li {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.main .resume-details .resume-languages ul li .progress-bar {
		width: 8rem;
	}
}

@media screen and (max-width: 274px) {
	.main .resume-details .resume-header #header-photo {
		display: none;
	}
}
/*# sourceMappingURL=style.css.map */
